* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mainDiv {
    background-image: url("../../image/c1.avif");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}



.formDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}